<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.xpf.dao.ChapterDAO"> 

	<insert id="add">
		insert into chapter(title,size,url,duration,pub_date,album_id)
		values (#{title},#{size},#{url},#{duration},now(),#{album.id})
	</insert>
</mapper>
